* {
  box-sizing: border-box;
}
html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch; /* Enables momentum scrolling on iOS devices */
  overflow: auto;
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: var(--text, #333);
  background-image: linear-gradient(
    130deg,
    var(--background, #d0d1d7) 0%,
    var(--background, #d0d1d7) 50%,
    var(--color-background, #e6e7ea) 100%
  );
}

body {
  padding: 0;
  margin: 0;
}
