.heading {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  position: relative;
  vertical-align: middle;
  /*background-color: var(--color-gray-400);*/
  margin: 0 0 var(--gap) 0;
  gap: var(--gap);
  height: var(--heading-height);
  font-family: var(--font-face-heading);
}

.-heading-master:has(> .heading.-sticky > .h1) .heading:not(.-heading-main) {
  --sticky-top: calc(3.5 * var(--heading-height));
  --sticky-z-index: 9;
}
.heading.-sticky {
  position: sticky;
  top: var(--sticky-top);
  z-index: var(--sticky-z-index);
}

.heading:has(h1),
.heading:has(h2),
.heading:has(h3),
.heading:has(h4) {
  background-color: transparent;
  background-color: var(--color-background);
  justify-content: space-between;
  padding: 0;
}
.heading > h1,
.heading > h2,
.heading > h3 {
  margin: 0;
  padding: 0 1rem;
  background-color: var(--color-background);
  flex-grow: 2;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.heading .-date {
  font-size: 1rem;
  /*position: absolute;
  right: 1rem;
  bottom: 0.5rem;*/
  /*margin-top: -1.3rem;
    */
  margin: -1rem 0 .5rem 0;
}
.heading:has(.h1),
.h1.heading {
  height: calc(3.5 * var(--heading-height));
}
.heading .heading-icon {
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading .heading-icon svg {
  height: 65%;
  aspect-ratio: 1;
  padding: 1rem;
  background-color: var(--color);
  border-radius: var(--radius-16);
  color: var(--color-text);
  fill: currentColor;
}

.heading .heading-icon + .h1,
.heading .heading-icon + .h2,
.heading .heading-icon + .h3,
.heading .heading-icon + .h4 {
  padding-left: 0;
}

.heading.-heading-main {
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .heading:has(.h1),
  .h1.heading {
    height: calc(2.5 * var(--heading-height));
  }
  .-heading-master:has(> .heading.-sticky > .h1) .heading:not(.-heading-main) {
    --sticky-top: calc(2.5 * var(--heading-height));
  }

  .heading .heading-icon svg {
    padding: 0.5rem;
  }

  /* Make main headings much smaller on mobile */
  .heading .heading-icon + .h1,
  .heading .heading-icon + .h2,
  .heading .heading-icon + .h3,
  .heading .heading-icon + .h4 {
    font-size: 1.1rem !important;
    line-height: 1.2;
  }

  /* Also target headings without icons */
  .heading > .h1,
  .heading > .h2 {
    font-size: 1.1rem !important;
    line-height: 1.2;
  }

  /* Make date labels smaller on mobile */
  .heading .-date {
    font-size: 0.8rem !important;
  }
/*
  .heading .-date {
    font-size: 1rem;
    position: static;
    margin: 0 0 .5rem 0;
    
    position: absolute;
    right: 50%;
    bottom: 0;
    transform: translate(50%, 50%);
    margin-top: -1.3rem;
  
  }      */

  /* Mobile: Toolbar grid layout
     ICON    | Title
     --------|
     T1 | T2 | Date
  */
  .heading:has(.toolbar) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: calc(var(--heading-height) * 1.5)  var(--heading-height);
    grid-template-areas:
      "icon title"
      "toolbar title";
    padding: 0;
  }

  .heading:has(.toolbar) > .heading-icon {
    grid-area: icon;
    aspect-ratio: auto;
  }

  .heading:has(.toolbar) > .h1,
  .heading:has(.toolbar) > h1 {
    grid-area: title;
    height: 100%;
  }

  .heading:has(.toolbar) > .toolbar {
    grid-area: toolbar;
    flex-direction: row;
    height: var(--heading-height);
  }
}

.heading > .actions {
  display: flex;
  align-items: center;
  gap: var(--gap);
  margin: 0;
}
.heading > .actions > button,
.heading > .actions > a {
  background-color: var(--color-background);
  border: 0;
  padding: 0 1rem;
  font-weight: 700;
  margin: 0;
  cursor: pointer;
  height: var(--heading-height);
  min-width: var(--heading-height);
}
.heading > .actions > button:has(svg:first-child:last-child),
.heading > .actions > a:has(svg:first-child:last-child) {
  padding: 0;
}

.heading > .actions svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.heading > .actions > button:hover,
.heading > .actions > a:hover,
.heading > .actions > button:active,
.heading > .actions > a:active {
  color: var(--color-interactivity);
}
.heading > .actions > button.-primary,
.heading > .actions > a.-primary {
  color: var(--color-interactivity);
}

.heading > .actions > button.-primary:hover,
.heading > .actions > a.-primary:hover {
  background-color: var(--color-interactivity);
  color: var(--color-interactivity-text);
}

.heading > .actions > button.-danger {
  background-color: var(--color-background);
  color: var(--color-negative);
}

.heading > .actions > button.-danger:hover,
.heading > .actions > a.-danger:hover,
.heading > .actions > button.-danger:active,
.heading > .actions > a.-danger:active,
.heading > .actions > button.-close:hover,
.heading > .actions > a.-close:hover,
.heading > .actions > button.-close:active,
.heading > .actions > a.-close:active {
  background-color: var(--color-negative);
  color: var(--color-negative-text);
}

/* ===========================================
   Toolbar in Heading
   =========================================== */

.heading > .toolbar {
  display: flex;
  gap: var(--gap);
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

/* Icon-only square buttons */
.heading > .toolbar > button,
.heading > .toolbar > a {
  aspect-ratio: 1;
  height: var(--heading-height);
  width: var(--heading-height);
  min-width: var(--heading-height);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: var(--color-background);
  border: 0;
  cursor: pointer;
}

.heading > .toolbar > button svg,
.heading > .toolbar > a svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.heading > .toolbar > button:hover,
.heading > .toolbar > a:hover {
  color: var(--color-interactivity);
}

/* Hide tools beyond first 2 */
.heading > .toolbar > *:nth-child(n+3) {
  display: none;
}

/* Desktop: Toolbar vertical single column on right */
@media screen and (min-width: 769px) {
  .heading:has(.toolbar) {
    flex-wrap: nowrap;
  }

  .heading > .toolbar {
    flex-direction: column;
    height: 100%;
    width: auto;
  }
}
