/** TAGS **/

.tags {
  display: inline-block;
}
.tag {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  border-radius: var(--radius-16);
  font-size: inherit;
  background-color: var(--color-white);
}
.tag.-object {
  background-color: var(--color-interactivity);
  color: var(--color-interactivity-text);
}

.tag.-highlight {
  background-color: var(--color-highlight);
  color: var(--color-highlight-text);
}
