.app-icon {
  display: block;
  margin: 0.3rem auto 0.5rem;
  width: min(4rem, 60px);
  height: min(4rem, 60px);
  fill: #fff;
}

svg.app-icon {
  padding: 0.5rem;
}
img.app-icon {
  border-radius: 25%;
  background-color: var(--color-background-panel);
  box-shadow: 0rem 0.3rem 0.3rem -0.1rem rgba(0, 0, 0, 0.4);
}
.app-icon.-full {
  width: 7rem;
  height: 7rem;
}
